header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    margin-bottom: 20px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

.branch-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.branch-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.branch-card:hover{
    transform: scale(1.05);
}

.movie-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.branch-info {
    padding: 20px;
}

.branch-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .branch-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Media query for devices with a max-width of 480px (typical phones) */
@media only screen and (max-width: 480px) {
    .branch-container {
        grid-template-columns: 1fr;
    }
}
